.advantages {
  text-align: center;
}

.advantages__header {
  width: 270px;
  margin: 0 auto;
  padding: 33px 0;

  @media (min-width: $tablet-width) {
    width: 520px;
    padding-top: 48px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__header-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__title {
  @media (min-width: $tablet-width) {
    width: 150px;
    max-width: 178px;
    margin: 0 auto;
  }
}

.advantages__number {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 23px;
  }
}

.advantages__item--grey {
  background-color: $color-whisper;

  @media (max-width: $mobile-width-only) {
    position: relative;

    padding: 25px 18px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 18px;

      width: calc(100% - 36px);
      height: 1px;

      background-color: $color-light-grey;
    }

    &:last-child::after {
      position: static;
    }

    & .advantages__description {
      width: 247px;
      margin: 0 auto;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__item:nth-child(7) .advantages__description {
  @media (min-width: $tablet-width) {
    width: 180px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    margin: 0 auto;
  }
}

.advantages__item--wide {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.advantages__item--housing,
.advantages__item--eating,
.advantages__item--souvenirs {
  position: relative;

  text-align: left;

  .advantages__title {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;

    text-align: center;

    .advantages__title {
      margin-top: 0;
      margin-bottom: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantages__title {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }
}

.advantages__description-wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__item--housing {
  padding: 23px 18px 25px 65px;

  @media (min-width: $tablet-width) {
    width: 170px;
    padding: 158px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 169px 0 69px;
  }
}

.advantages__item--eating {
  padding: 0 18px 0 65px;

  @media (min-width: $tablet-width) {
    width: 155px;
    padding: 156px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 166px 0 71px;
  }
}

.advantages__item--souvenirs {
  padding: 25px 18px 46px 65px;

  @media (min-width: $tablet-width) {
    width: 170px;
    padding: 153px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 170px 0 67px;
  }
}

.advantages__item--housing::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 18px;

  width: 39px;
  height: 37px;

  background: url("../../img/svg/icon-house.svg") no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 50%;

    width: 77px;
    height: 72px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 69px;

    width: 79px;
    height: 72px;
  }
}

.advantages__item--eating::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 18px;

  width: 40px;
  height: 35px;

  background: url("../../img/svg/icon-burger.svg") no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 62px;
    left: 50%;

    width: 80px;
    height: 68px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 72px;
  }
}

.advantages__item--souvenirs::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;

  width: 32px;
  height: 38px;

  background: url("../../img/svg/icon-gift.svg") no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 64px;
    left: 50%;

    width: 66px;
    height: 75px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 69px;

    transform: translateX(-50%) scaleX(1.22);
  }
}

.advantages__figure {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;

    background-color: $color-seagull;

    grid-template-columns: 1fr 2fr;

    &--reverse {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 260px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__caption {
  padding: 37px 18px;

  color: $color-white;

  background-color: $color-seagull;

  &--triangle {
    clip-path: polygon(50% 7%, 100% 0, 100% 100%, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      clip-path: none;
    }
  }

  &--reverse {
    order: 2;
  }

  @media (max-width: $mobile-width-only) {
    &--triangle {
      padding: 54px 18px 40px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }
}
