.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-dark-shakespeare;
  }

  &:disabled {
    background-color: $color-dark-whisper;
  }

  &--close-modal-error {
    width: 180px;
    height: 58px;

    font-size: 18px;

    @media (min-width: $tablet-width) {
      width: 272px;

      font-size: 21px;
      line-height: 26px;
    }
  }

  &--close-modal-success {
    width: 280px;
    height: 58px;

    font-size: 18px;

    @media (min-width: $tablet-width) {
      width: 458px;

      font-size: 21px;
      line-height: 26px;
    }
  }
}
