.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-dark-shakespeare;
    color: rgba($color-white, 0.3);
  }

  &:disabled {
    background-color: $color-dark-whisper;
  }
}
