.feedback__header {
  padding: 37px 0 27px;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $color-dark-whisper;
  }

  @media (min-width: $tablet-width) {
    width: 436px;
    margin: 0 auto;
    padding: 64px 0 108px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding: 115px 0 68px;
  }
}

.feedback__title {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;

    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 31px;
  }
}
