.find-hotel {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 49px;
  text-align: center;
}

.find-hotel__title {
  padding-bottom: 25px;
}

.find-hotel__description {
  padding-bottom: 32px;
}

.find-hotel__button {
  width: 284px;
  height: 58px;
}
