.intro {
  width: 100%;
  height: 389px;

  text-align: center;

  background-image: url("../../img/intro-triangle.svg"), url("../../img/intro-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;

  &--inner {
    height: 158px;
    //background-position: bottom;
  }
}

.intro__image {
  padding-top: 90px;

  &--inner {
    padding-top: 52px;
  }
}
