.main-header {
  position: relative;

  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, 0);
}

.main-header__toggle {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 3;

  width: 23px;
  height: 22px;
  overflow: visible;

  background-color: $color-white;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 4px;

    background-color: $color-seagull;
    box-shadow: 0 9px 0 0 $color-seagull, 0 18px 0 0 $color-seagull;
  }

  &:hover::before {
    background-color: rgba($color-seagull, 60%);
    box-shadow: 0 9px 0 0 rgba($color-seagull, 60%), 0 18px 0 0 rgba($color-seagull, 60%);
  }

  &:active::before {
    background-color: rgba($color-seagull, 30%);
    box-shadow: 0 9px 0 0 rgba($color-seagull, 30%), 0 18px 0 0 rgba($color-seagull, 30%);
  }

  &--is-opened {
    background-color: $color-seagull;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;

      width: 23px;
      height: 4px;

      background-color: $color-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: rgba($color-white, 0.6);
    }

    &:active::before,
    &:active::after {
      background-color: rgba($color-white, 0.3);
    }

    .no-js & {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
