.main-header {
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.main-header__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
}
