.main-footer {
  padding: 33px 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 0 60px;
  }
}

.main-footer__hashtag {
  margin: 0;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  column-gap: 12px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__copyright-text {
  font-size: 14px;
  line-height: 21px;
}
