.main-footer {
  padding: 33px 0px;

  text-align: center;
}

.main-footer__hashtag {
  margin: 0;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.main-footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  column-gap: 12px;
}

.main-footer__copyright-text {
  font-size: 14px;
  line-height: 21px;
}
