.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;

  display: none;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: rgba($color-black, 0.3);

  &--is-open {
    display: flex;
  }

  &--error {
    padding-bottom: 417px;
  }

  &--success {
    padding-top: 198px;
  }
}

.modal__wrapper {
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--error {
    width: 320px;
    padding: 45px 42px 35px 41px;
  }

  &--success {
    width: 320px;
    padding: 38px 20px 20px 20px;
    background: linear-gradient(to bottom, $color-white 70%, $color-white-smoke 70%, $color-white-smoke 100%);
  }
}

.modal__title {
  margin-bottom: 25px;
}

.modal__description {
  margin: 0 auto;
  margin-bottom: 28px;
  width: 230px;

  &--success {
    margin-bottom: 72px;
  }
}

.button--close-modal-error {
  width: 180px;
  height: 58px;
  font-size: 18px;
}

.button--close-modal-success {
  width: 280px;
  height: 58px;
  font-size: 18px;
}
