.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: rgba($color-black, 0.3);

  &--is-open {
    display: flex;
  }
}

.modal__wrapper {
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--success {
    width: 320px;
    height: 280px;
    padding: 45px 42px 35px 41px;
  }

  &--error {
    width: 320px;
    height: 323px;
    padding: 44px 20px 20px 20px;
    //background: linear-gradient(to bottom, green 25%, green 25%, black 25%, black 100%);
  }
}

.modal__title {
  padding-bottom: 20px;
}

.modal__description {
  margin: 0;
}

.button--close-modal-success {
  width: 180px;
  height: 58px;
}

.button--close-modal-error {
  width: 280px;
  height: 58px;
}
