.page {
  font-family: "PT Sans", "Arial", sans-serif;

  text-transform: uppercase;
  background-color: $color-white-smoke;
}

.page__wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: $color-white;
  box-shadow: 0 5px 15px rgba($color-black, 0.2);
}
