.site-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;

  background-color: $color-seagull;
  box-shadow: 0px 1px 0px rgba($color-black, 0.2),
              inset 0 1px 0 rgba($color-white, 0.2);
}

.site-list__item-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;
}
