.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--input {
    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }
}
